body {
  margin: 0;
  font-family:'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #ffffff 16.66%, transparent 0 83.33%, #ffffff 0), conic-gradient(from 45deg at 66.66% 33.33%, #eeeef8 135deg, rgba(238,238,248,0.75) 0% 225deg, rgba(238,238,248,0.5) 0%);
background-size: 22px 22px;
background-color: #ffffff;
/*font-family: 'Kanit', sans-serif;  'Teko', sans-serif;*/
}
.kanit{
 font-family: 'Kanit', sans-serif;
}
.convert{
  font-family:'Teko', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
